*{
    margin: 0px;
    font-family: "Story Script", sans-serif;
    color: black;
    box-sizing: border-box;
}

#container{
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}

.logo{
    width: 12%;
}

.listItem{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}

.links{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.links:hover{
    text-decoration: underline;
    color:green;
}

.homeContents{
    margin: 13% 0px 0px 8%;
}

.Username{
    font-size: 60px;
    margin-bottom: 20px;
}

.lname{
    color: orange;
}

.UserDetails{
    font-size: 20px;
    line-height: 1.4;

}

.download{
    border: solid;
    display: inline-block;
    margin-top: 30px;
    border: solid;
    color:white;
    background-color:black;
    text-decoration: none;
    border-radius:10px;
    padding:10px;
}

.homeImages{
    width: 50%;
    height: 75%;
    position:absolute;
    bottom:0px;
    right: 30px;
}

.group1{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left:50%;
    transform: translateX(-50%);
    transition: bottom 2s ,left 1s;

}

.homeImages:hover #shape{
    bottom:70px;
}

.homeImages:hover #girl{
    left:40%;
}

#about{
    margin: 15% 8% 0% 8%;
}

.sectionHead{
    text-align: center;

}

.mainHead{
    font-size: 30px;
}

.subHead{
    font-size: 20px;
    color: orange;
}

.aboutContents{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 30px;
    align-items: center;

}

.aboutDetails{
    font-size: 20px;
    text-align: justify;
    font-weight: 600;

}
.informations{
    margin-top: 1.3rem;

}

.infoBox{
    margin-bottom: 10px;
}

.infoSpan{
    margin-left: 1.3 rem;
}

#skill{
  margin: 15% 8% 0% 8%;
}

.skillContents{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2 rem;
    
}

.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0px;
    position: relative;
}

.barHead ,.barPercent{
    font-weight: 600;
    font-size: 1.3rem;
}

.baseBar{
    width:100%;
    height:0.5rem;
    border-radius:10px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    
}
.htmlBar{
    width:89%;
    background-color: orange;
}

.cssBar{
    width:92%;
    background-color: orange;
}

.jScriptBar{
    width:76%;
    background-color: orange;
}


.reactBar{
    width: 69%;
    background-color: orange;
}

#contact{
      margin: 15% 8% 0% 8%;
}

.iconCollections{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}

.icons{
    /* border: solid; */
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0px 10px;

}

.icons:hover{
    background-image: linear-gradient(to bottom right,red,orange,yellow);

}

.brands{
    color:black;
    font-size: 30px;
}

.icons:hover .brands{
    color: white;
    animation:rotate 3s;
}

@keyframes rotate{
    0%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(-30deg);
    }

    100%{
        transform: rotate(30deg);
    }

}
footer{
     margin-top: 8%;
}


.copyright{
    text-align: center;
    font-weight: 600;
}


.upArrow{
    float: right;
    margin: -40px 30px 30px 0px;
    
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;

}

::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 10px;
}